@use "../helpers" as *;

.lights {
  position: absolute;
  z-index: 45;
  width: rem(350);
  height: rem(400);
  background-image: linear-gradient(135deg, #1cc4f9 0%, #fe69fe 100%);
  filter: blur(210px);
  @include abs-center;
  @include mobile {
    width: rem(229);
    height: rem(382);
  }
}
