@use "../../helpers/" as *;

.chooseUS {
  --column: 3;
  &-list { 
    display: grid;
    grid-template-columns: auto auto auto;
    gap: rem(50);
    padding: rem(42) rem(63) rem(53);
    @include tablet {
      grid-template-columns: auto auto;
    }
    @include mobile {
      grid-template-columns: auto;
      padding: rem(35);
      justify-items: center;
    }
  }
  &-item {
    display: flex;
    max-width: rem(324);
    @include tablet-above {
      &:not(:first-child) {
        margin-left: rem(50);
      }
    }
  }
  &-card {
    &__icon {
      font-size: rem(60);
      margin-bottom: rem(42);
      @include hover {
        color: var(--color-purple-10);
        transition-duration: var(--transition-duration);
      }
    }
    &__title {
      margin-bottom: rem(12);
    }
    &__description {
      text-wrap: balance;
      font-size: rem(18);
      line-height: 200%;
      span{
        font-weight: 700;
        color :var(--color-light)
      }
      @include mobile {
        text-wrap: pretty;
      }
    }
  }
}
