@use '../../helpers/' as *;

.hero {
  transition: all 2s ease;
  &__inner {
    height: 100%;
  }
  &__clipPathGroup {
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 11;
    background: url('../../../images/Hero/ClipPathGroupMain.webp') no-repeat center / cover;
    width: rem(736);
    height: rem(353);
    @include mobile {
      width: rem(736);
      height: rem(353);
    }
  }
  &__body {
    height: 100%;
    width: 100%;
    @include abs-center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    h1 {
      margin: 0;
    }
  }
  &__item * {
    @include mobile {
      margin: 0;
    }
  }
  &__subtitle {
    @include anim-sd;
    animation-duration: 1.3s;
    * {
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    margin-top: rem(20);
    gap: 1.5rem;
    @include anim-sd;
    animation-duration: 1.3s;
    @include mobile {
      flex-direction: column;
    }
  }
  &__name {
    @include anim-sd;
    animation-duration: 1s;
    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &__callme {
    @include anim-sd;
    animation-duration: 1.2s;
    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
