@use "../../helpers/" as *;
.live-typing{
    @include mobile {
        font-size: rem(35);
      }
    &__char:not(.is-visible){
        position: relative;
        display: none;
        &::after{
            content: "|";
            position: absolute;
            height: 80%;
            width: rem(3);
            background-color: rgb(255, 255, 255);
            top: 10%;
            right: rem(2);
            animation: blink .10s linear infinite;
            opacity: 0;
            @keyframes blink {
                0% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
        }
       
    } 
    
}
.live-typing__char.is-visible+.live-typing__char:not(.is-visible) {
    color: transparent;
    display: inline;
}

