@use '../../helpers/' as *;

.preloader {
  position: fixed;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  justify-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  transition: 2s all;
  opacity: 1;
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    &-icons {
      * {
        stroke: var(--color-purple-10);
        fill: none;
      }
      #brow-left {
        transform: translate(1px, 18px) scale(0.6) rotate(360deg);
      }

      #brow-right {
        transform: translate(23px, 18px) scale(0.6) rotate(360deg);
      }
      #eye-left {
        transform: translate(29px, 31px) scale(1);
      }
      #eye-right {
        transform: translate(11px, 43px) scale(0.7) rotate(360deg);
      }
      #mouth-left {
        transform: translate(46px, 19px) scale(0.55);
      }
      #mouth-right {
        transform: translate(45px, 45px) scale(0.55);
      }
    }
  }
  &__title {
    opacity: 0;
    transform: translateY(-30px);
    animation: var(--animation-sd);
    &-dot {
      opacity: 0;
      animation: dotBlink 1.5s ease-in-out infinite;
    }
    &-dot:nth-child(2) {
      animation-delay: 0.3s;
    }
    &-dot:nth-child(3) {
      animation-delay: 0.6s;
    }
  }

  &__footer {
    opacity: 0;
    transform: translateY(-30px);
    animation: var(--animation-sd);
    margin-bottom: 1rem;
  }
}
@keyframes pathUp {
  to {
    transform: translateY(-300%);
  }
}

@keyframes dotBlink {
  0%,
  20% {
    opacity: 0;
  }
  30%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.preloader.done .preloader__logo-icons g {
  transform-box: view-box;
  transform-origin: 0 0;
  animation: pathUp 2s ease forwards;
}
.preloader.done .preloader__title,
.preloader.done .preloader__footer {
  animation: slideUpFade 0.8s ease forwards;
}
