@use '../../helpers/' as *;
.list {
  &__item {
    margin-block: rem(24);
    padding: rem(24);

    @include mobile {
      padding: rem(24) rem(14);
    }
    @include hover {
      border-image: var(--border-image);
    }
  }
}
