@use "../../helpers/" as *;


.tabs {
    font-size: fluid(23,18);
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__buttons{
        display: flex;
        text-wrap: nowrap;
        margin-top: rem(80);
    }
    &__button {
        background-color: transparent;
        color: var(--color-light);
        padding: rem(10);
        font-size: rem(20);
        &:last-child {
            margin-left: rem(24);
        }
    }
    &__body {
      
        @include tablet{
            margin-inline: rem(125);
        }
        @include mobile{
            margin-inline: rem(0);
        }
    }

    &__content {
        display: none;
        margin-top: rem(35);
        @include mobile{
            margin-top: rem(32);
        }
        &.is-active{
            display: block;
        }
    }
    
}
