@use '../../helpers/' as *;

/* Общие */

.cursorDot {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 0;
  will-change: transform, left, top, opacity, scale;
  mix-blend-mode: multiply;
}
.cursorRing {
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  opacity: 0;
  will-change: transform, left, top, opacity, scale;
  mix-blend-mode: multiply;
}
.cursorDot {
  width: 4px;
  height: 4px;
  background-color: currentColor;
}

.cursorRing {
  width: 24px;
  height: 24px;
  border: 1px solid currentColor;
  background-color: transparent;
  transition:
    width 0.25s ease,
    height 0.25s ease;
}

@media (hover: none), (pointer: coarse) {
  .cursorRing,
  .cursorDot {
    display: none;
  }
}
