@use "../../helpers/" as *;

.footer {
  &__body {
    position: relative;
    z-index: 31;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    border-image: var(--border-image);
    padding-bottom: rem(33);
    @include mobile {
      padding-bottom: rem(48);
      flex-direction: column;
      row-gap: rem(20);
      align-items: center;
    }
  }
  &__extra {
    display: flex;
    font-size: rem(16);
    justify-content: center;
    padding-top: rem(32);
    pointer-events: none;
    padding-bottom: rem(32);
    @include mobile {
      font-size: rem(15);
      text-align: center;
    }
  }
  &__clipPathGroup {
    position: absolute;
    bottom: 0%;
    left: 0;
    background: url("../../../images/Footer/image33.webp") no-repeat center /
      cover;
    width: rem(736);
    height: rem(353);
    @include mobile {
      width: rem(236);
      height: rem(353);
    }
  }
}
