@use "../../helpers/" as *;

.soc1als {
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    &:not(:first-child){
        margin-inline: rem(20);
    }
    &:first-child{
        margin-right: rem(20);
    }
   
  }
  &__link {
    display: flex;
    padding: rem(20);
    position: relative;
    @include circleOutline;
    @include tablet{
        font-size: rem(25);
    }
  }
}
