@use './helpers' as *;

:root {
  --bg-color: #f3f2f9;
  --bg-color-toast: #18181b;
  --btn-color-toast: transparent;
  --fileBtn-color: rgba(0, 0, 0, 0.06);

  --color-light: white;
  --color-black-50: #252532;
  --color-svg: #606887;
  --color-text: #606887;
  --color-text-toast: #ffffff;
  --border-gray: #{rem(1)} solid;
  --border-image: linear-gradient(to right, #0cbaf1 0%, #e95ce9 100%) 1;
  --color-gray-1: #b0b0b2;
  --color-gray-2: #d1d1d1;
  --color-gray-3: #999999;
  --color-success: #00c566;
  --color-error: #ff4747;
  --color-warning: #facc15;
  --color-gold: #facc15;
  --color-purple-10: #ca6aeb;
  --color-main-blue: #19b5f1;
  --font-family-base: 'Manrope', sans-serif;
  --font-family-variable: 'ManropeVar', sans-serif;
  --container-width: #{rem(1980)};
  --container-padding-x: #{rem(100)};
  --transition-duration: 0.2s;
  --transition: all 2s ease;
  --animation-sd: slideDown 0.8s ease forwards;
  --animation-upFade: slideUpFade 0.8s ease forwards;
  --linear: linear-gradient(90deg, #0cbaf1, #e95ce9);
  --bg-select: #ca6aeb;
  --color-select: #000000;
  --border: 2px solid var(--color-text);
  --sonner-toast-radius: #{rem(18)};
  --sonner-toast-shadow: 0 #{rem(18)} #{rem(40)} rgba(0, 0, 0, 0.35);
}
[data-theme='dark'] {
  --fileBtn-color: rgba(255, 255, 255, 0.06);
  --btn-color-toast: #cfcdcd;
  --bg-color-toast: #f3f2f9;
  --bg-select: #999999;
  --color-select: white;
  --bg-color: #18181b;
  --color-text: #ffffff;
  --color-svg: #ffffff;
  --color-text-toast: #000000;
}
