@use './normalise';
@use './fonts';
@use './variables';
@use './utils';
@use './globals';

@use './blocks/Header/header';
@use './blocks/Header/burgerButton';

@use './blocks/Hero/hero';

@use './blocks/section';
@use './blocks/grid';
@use './blocks/clipPathGroup';
@use './blocks/lights';
@use './blocks/baseline';
@use './blocks/logo';

@use './blocks/Skills/tabs';
@use './blocks/Skills/list';
@use './blocks/Loader/loader';

@use './blocks/Projects/stack';
@use './blocks/Projects/projects';
@use './blocks/Project/project';

@use './blocks/FancyBox/fancyBox';

@use './blocks/CursorFollower/CursorFollower';

@use './blocks/Pages/ErrorPage/errorPage';

@use './blocks/Contact/contact';
