@use '../../../helpers' as *;

.error {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include anim-sd;
    animation-duration: 1s;
    animation-delay: 0.5s;
    &.is-active {
      animation: var(--animation-upFade);
    }
  }

  &__title {
  }

  &__code {
    @include fluid-text(192, 48);
  }

  &__footer {
  }
}
