@use "../../helpers/" as *;


.burger-button{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  border-image: var(--border-image);
  padding: rem(10) rem(10);
  color: var(--color-light);
  background-color: transparent;
  row-gap: rem(3);
  
  &__line {
    background-color: currentColor;
    width: rem(20);
    height: rem(2);
    border-radius: 1rem;
    transition-duration: var(--transition-duration);
    &:nth-child(2)
    {
      width: 80%;
      align-self: end;
    }
    &:last-child {
      width: 55%;
      align-self: end;
    }
  }
  &.is-active {
    .burger-button__line
    {
        &:first-child{
            rotate: 45deg;
            transform-origin: 0;
            translate: 0.24rem -0.15rem
        }
        &:nth-child(2){
          width:100%;
            rotate: -45deg;
        }
        &:last-child{
           width: 0;
        }
    }
  }
}