@use '../../helpers/' as *;

.header {
  position: sticky;
  font-size: rem(16);
  z-index: 100;
  top: 0;
  z-index: 100;
  top: 0;
  color: currentColor;
  &__logo {
    font-size: rem(20);
    display: flex;
    position: relative;
    align-items: center;
    column-gap: rem(14);
    z-index: 1;
    svg {
      width: rem(50);
      @include hover {
        color: var(--color-purple-10);
      }
    }
  }
  &__body {
    padding-top: rem(31);
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }
  &__overlay {
    @include mobile-above {
      display: contents;
    }
    @include tablet {
      position: fixed;
      inset: 0;
      padding: 1rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      row-gap: 3rem;
      transition-duration: var(--transition-duration);
      &:not(.is-active) {
        @include hide;
        translate: 100%;
      }
    }
  }

  &__contact-us-link {
    @include tablet {
      width: 100%;
      max-width: rem(300);
      align-self: center;
      justify-content: center;
    }
  }

  &__controls {
    display: flex;
    gap: rem(16);
    align-items: center;
  }

  &__menu {
    &-list {
      display: flex;
      gap: rem(16);
    }
    &-item {
      button {
        background-color: transparent;
        border: none;
      }
    }
    &-lang {
      color: currentColor;
    }
    &-theme {
      position: relative;
      &:active .header__menu-icon {
        transform: scale(0.95);
      }
    }
    &-icon {
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.4s ease;
    }
  }
}
@keyframes themeChangeOut {
  0% {
    opacity: 0;
    transform: translateY(-20%) scale(0.8) rotate(-15deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(20%) scale(0.8) rotate(15deg);
  }
}
