@use '../../helpers/' as *;

.header {
  position: relative;
  width: 100%;
  font-size: rem(16);
  z-index: 100;
  top: 0;
  top: 0;
  color: currentColor;
  &__logo {
    font-size: rem(30);
    display: flex;
    align-items: center;
    column-gap: rem(14);
    z-index: 1;
    stroke-width: 3px;

    svg {
      width: rem(70);
      path {
        stroke: currentColor;
      }
      @include hover {
        stroke-width: 4px;
        color: var(--color-purple-10);
      }
      @include mobile {
        width: rem(50);
      }
    }
    &::after {
      content: none !important;
    }
    &.is-animate {
      @include anim-sd;
    }
  }
  &__body {
    padding-top: rem(31);
    @include fluid-text(20, 18);
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
    }
  }
  &__overlay {
    display: none;
    &.is-active {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 50%;
      left: 50%;
      flex-direction: column;
      row-gap: 3rem;
      padding: 1rem;
      transform: translate(-50%, -50%);
      border-radius: 1rem;
      transition: opacity var(--transition-duration) ease;
    }
    &-link {
      text-transform: uppercase;
      position: relative;
      &::before {
        content: counter(menu, decimal-leading-zero);
        position: absolute;
        top: 50%;
        left: -20px;
        @include fluid-text(14, 10);
        font-variant-numeric: tabular-nums;
      }
    }
    &-list {
      counter-reset: menu;
    }

    &-item {
      counter-increment: menu;
      @include anim-sd;
      animation-delay: 1s;
      &:first-child() {
        animation-duration: 1.1s;
      }
      &:nth-child(2) {
        animation-duration: 1.2s;
      }
      &:nth-child(3) {
        animation-duration: 1.3s;
      }
      &:last-child {
        animation-duration: 1.4s;
      }
    }
  }

  &__contact-us-link {
    @include tablet {
      width: 100%;
      max-width: rem(300);
      align-self: center;
      justify-content: center;
    }
  }

  &__controls {
    display: flex;
    gap: rem(16);
    align-items: center;
    &.is-animate {
      @include anim-sd;
    }
  }

  &__menu {
    &-list {
      display: flex;
      gap: rem(16);
    }
    &-item {
      display: flex;
      button {
        background-color: transparent;
        border: none;
      }
    }
    &-lang {
      color: currentColor;
      cursor: pointer;
      font-weight: bolder;
    }
    &-theme {
      &:active .header__menu-icon {
        transform: scale(0.95);
      }
    }
    &-icon {
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      transform: translateY(0);
      transition: all 0.4s ease;
    }
  }
}
@keyframes themeChangeOut {
  0% {
    opacity: 0;
    transform: translateY(-20%) scale(0.8) rotate(-15deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateY(20%) scale(0.8) rotate(15deg);
  }
}
